body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
div {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
div label {
    font-size: 40px;
    color: white;
}
header {
    display: flex;
    justify-content: center;
}